.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
img{
    height: 594px;
    border-radius: 20px;
}
h4{
    color: gray;
}
p{
    font-size: 1.5em;
    width: 270px;
}
.right-container{
    width: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 594px;
    border-radius: 20px;

   }
   .price{
    display: flex;
    align-items: center;
   }
   .price .actuel{
    color: green;
    font-size: xx-large;

   }
   button{
    background-color: green;
    width: 300px;
    height: 60px;
    border: 2px solid white;
    color: aliceblue;
    font-size: xx-large;
   }