.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(6, 194, 241);
}

.postion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height: 500px;
    width: 800px;
}
.down {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.box-2 ,.box-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 400px;
    width: 350px;
    
}
h4, .box-3 h4 {
    color: gray;
}
.box-2{
    background-color: aquamarine;
}
button {
    background-color: gray;
    border-radius: 15px;
    height: 40px;
    width: 100px;
    color: white;
    font-weight: bold;
    border: none;
    background-color:green;
}
h6 {
    color: gray;
    font-size: large;
}
.box-1{
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
}
h5 {
    color: greenyellow;
}
p {
    color: gray;
}

